---
import Layout from "../layouts/Layout.astro";
import Home from "@/components/Home";
---

<Layout title="Welcome to Astro.">
  <div
    class="w-screen h-screen flex justify-center items-center flex-col gap-2"
  >
    <Home client:idle />
  </div>
</Layout>
